<footer class='statusfooter' data-bind="click: ui.visible.status.bind(this,!ui.visible.status()), css:{open: ui.visible.status()}">

    <span class="caret" data-bind="text: ui.visible.status()?'▼':'more info ▲'"></span>

    <div id='statusloading'></div>
    <span id='status' data-bind="text: ui.status, style:{'color':ui.statusColor()==ui.defaultStatusColor?'black':'white','background-color':ui.statusColor()}"></span>
    <div class="userinfo">
        <div data-bind="if: selectedUser()">
            <h2>
                <a data-bind="click: stat.openUser.bind(this, selectedUser().id), text: selectedUser().userName"></a>
            </h2>

            <pre data-bind="text: JSON.stringify(selectedUser().sums, null,2)"></pre>

            <!--<table class="sumdata">
                <thead>
                    <tr>
                        <th></th>
                        <th>Inbound</th>
                        <th></th>
                        <th>Outbound</th>
                        <th></th>
                        <th>Sum</th>
                    </tr>
                </thead>
                <tbody>
                    
                    <pre data-bind="text: JSON.stringify(Object.keys(selectedUser().sums))"></pre>
                    
                    <tr data-bind="attr:{title: $root.emotions[$data]?$root.emotions[$data].join(' '):''}">
                        <td data-bind="text: $data"></td>
                        <td data-bind="text: $root.userFilterMap()[$root.selectedUser()].sums.inbound[$data]"></td>
                        <td data-bind="text: $data"></td>
                        <td data-bind="text: $root.userFilterMap()[$root.selectedUser()].sums.outbound[$data]"></td>
                        <td data-bind="text: $data"></td>
                        <td data-bind="text: $root.userFilterMap()[$root.selectedUser()].sums.sum[$data]"></td>
                    </tr>
                </tbody>
            </table>-->

            * These statistics are provided by the emoticons used in messages, according to <a href="#" onclick="event.preventDefault(); event.stopPropagation(); window.open('https://en.wikipedia.org/wiki/List_of_emoticons')">Wikipedia's table</a>.

        </div>

    </div>

</footer>